# Dependencies
node_modules/

# Build
dist/

# Environment
.env
.env.local
.env.*.local

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Drizzle
drizzle/meta/

# Logs
*.log
npm-debug.log*
logs

# Coverage
coverage/
api-auth_db-data
redis-auth-api-data
postgres_data